//color
$subtitle: #00a6a2;

$backgroundDark: #111117;

$backgroundText: #daeced;

$backgroundTextDark: #0e272d;

$titleDarkText: #21333e;
//color

//font
$fontBase: 1.125rem;

$fontTitle: 2.5rem;
//font